<p id="notice"><%= notice %></p>

<p>
  <strong>Rt number:</strong>
  <%= @fed_bank.rt_number %>
</p>

<p>
  <strong>Office code:</strong>
  <%= @fed_bank.office_code %>
</p>

<p>
  <strong>Frb number:</strong>
  <%= @fed_bank.frb_number %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @fed_bank.record_type %>
</p>

<p>
  <strong>Change date:</strong>
  <%= @fed_bank.change_date %>
</p>

<p>
  <strong>New routing:</strong>
  <%= @fed_bank.new_routing %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fed_bank.name %>
</p>

<p>
  <strong>Street1:</strong>
  <%= @fed_bank.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @fed_bank.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @fed_bank.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @fed_bank.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @fed_bank.zipcode %>
</p>

<p>
  <strong>Zipcode ext:</strong>
  <%= @fed_bank.zipcode_ext %>
</p>

<p>
  <strong>Tel area:</strong>
  <%= @fed_bank.tel_Area %>
</p>

<p>
  <strong>Tel prefix num:</strong>
  <%= @fed_bank.tel_prefix_num %>
</p>

<p>
  <strong>Tel suffix num:</strong>
  <%= @fed_bank.tel_suffix_num %>
</p>

<%= link_to 'Edit', edit_fed_bank_path(@fed_bank) %> |
<%= link_to 'Back', root_path %>
